Webapp/Webapp/settings.py
Webapp/Webapp/__pycache__/__init__.cpython-310.pyc
Webapp/Webapp/__pycache__/settings.cpython-310.pyc
Webapp/Webapp/__pycache__/urls.cpython-310.pyc
Webapp/Webapp/__pycache__/wsgi.cpython-310.pyc
Webapp/db.sqlite3
.vscode/launch.json
Webapp/Product/__pycache__/__init__.cpython-310.pyc
Webapp/Product/__pycache__/admin.cpython-310.pyc
Webapp/Product/__pycache__/apps.cpython-310.pyc
Webapp/Product/__pycache__/models.cpython-310.pyc
Webapp/Product/__pycache__/urls.cpython-310.pyc
Webapp/Product/__pycache__/views.cpython-310.pyc
Webapp/Product/migrations/__pycache__/__init__.cpython-310.pyc
tasks.py
user.py
ProjectVenv
