{% load static %}

<html>

<head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <title> Productivity-App-CST-Hackathon </title>

    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">

</head>


<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center" style="padding:0;">

    <a class="navbar-brand main-heading">

        <img src="/static/images/logotr.svg" style="width:150px; height:150px;" alt="Logo" />&nbsp; <b>TaskTamer</b>
        <small> by Code Hounds</small>

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">


        <ul class="navbar-nav ms-auto">


            &nbsp; &nbsp; &nbsp;
            <a class="btn btn-primary" type="button" id="custom_button" href="{% url 'register' %}">Register</a>
            &nbsp; &nbsp; &nbsp;
            <a class="btn btn-primary" type="button" id="custom_button" href="{% url 'my-login' %}">Login</a>
            &nbsp; &nbsp; &nbsp;
        </ul>
    </div>
</nav>

<br>


<body>

    <br>
    <br>

    <div class="text-center">

        <h3> Detalii task </h3>

    </div>
    <div class="text-center card border-secondary mb-3"
        style="width: 40%; height:auto; min-width:280px; margin: auto; position: absolute; right:0; left:0; padding:1em">

        <form method="POST" autocomplete="off">
            {% csrf_token %}

            <div class="form-group">
                <label class="form-label mt-4">Title</label>
                <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Descriere</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"
                    placeholder="Descrierea taskului"></textarea>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">difficulty</label>
                <input type="text" class="form-control" placeholder="Medie">
            </div>
            <div class="form-group">
                <label class="form-label mt-4">visibility</label>
                <input type="text" class="form-control" placeholder="Public/Private">
            </div>
            <div class="form-group">
                <label class="form-label mt-4">deadline</label>
                <input type="date" class="form-control" placeholder="Deadline">
            </div>
            <div class="form-group">
                <label class="form-label mt-4">task_type</label>
                <input type="text" class="form-control" placeholder="Task/Improvement/New Technology">
            </div>

            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/" class="btn btn-primary">Cancel</a>

        </form>
    </div>
</body>



<br>

<script src="{% static 'js/app.js' %}"></script>


<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>



<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">

    </script>



</html>