{% load static %}

<html>

<head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <title> Productivity-App-CST-Hackathon </title>

    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">

</head>


<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center"
    style="padding:0; margin-bottom:10px;">

    <a class="navbar-brand main-heading">

        <img src="/static/images/logotr.svg" style="width:150px; height:150px;" alt="Logo" />&nbsp; <b>TaskTamer</b>
        <small> by Code Hounds</small>

    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

    </button>


    <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
            &nbsp; &nbsp; &nbsp;
            <a class="btn btn-primary" type="button" id="custom_button" href="{% url 'register' %}">Register</a>
            &nbsp; &nbsp; &nbsp;
            <a class="btn btn-primary" type="button" id="custom_button" href="{% url 'my-login' %}">Login</a>
            &nbsp; &nbsp; &nbsp;
        </ul>
    </div>
</nav>

<div class="text-center">

    <h2> Dashboard</h2>

</div>
<div class="card border-secondary mb-3"
    style="width: 80%; height:500px; min-width:700px; margin: auto; position: absolute; right:0; left:0; padding:1em">
    <div style="display:flex; flex-direction:row; ">
        <div>
            <h4>Nume : {{ person.first_name }}</h4>
            <h4>Username : {{ person.username }}</h4>
        </div>
        <div style="position:absolute; margin-left:43.2%;">
            <h4>Current Streak : {{person.current_streak}}</h4>
            <h4>Max Streak : {{person.max_streak}}</h4>
        </div>
        <div style="position:absolute; margin:auto; right:10px;">
            <h4>Points : {{person.points}}</h4>
            <h4>Clan Tag : {{person.clan_tag}}</h4>
        </div>
    </div>
    <div class="card border-success mb-3"
        style="width: 30%; height:auto; min-width:400px; margin: auto; position: absolute; top:150px; right:20px; padding:1em">
        <table class="table">

            <thead>

                <tr>

                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Username</th>

                </tr>

            </thead>

            <tbody>


                {% for clan in clans %}
                <tr>

                    <td>{{ clan.first_name }}</td>
                    <td>{{ clan.last_name }}</td>
                    <td>{{ clan.username }}</td>

                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="card border-success mb-3"
        style="width: 30%; height:auto; min-width:400px; margin: auto; position: absolute; top:150px; left:20px; padding:1em">

        <h2>You have placed in the top : {{top}} %</h2>
    </div>

    <div class="card border-success mb-3"
        style="width: 30%; height:auto; min-width:300px; margin: auto; position: absolute; top:150px; left:35%; padding:1em">

        <h2><img src="../static/images/favicon.png" style="width:90px; height:90px">x{{top}} </h2>
    </div>
</div>
<br>



</html>