{% load static %}

<html>

<head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <title> Productivity-App-CST-Hackathon </title>

    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">

</head>


<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center"
    style="padding:0; margin-bottom:10px;">

    <a class="navbar-brand main-heading">

        <img src="/static/images/logotr.svg" style="width:150px; height:150px;" alt="Logo" />&nbsp; <b>TaskTamer</b>
        <small> by Code Hounds</small>

    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

    </button>


    <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
            &nbsp; &nbsp; &nbsp;
            <a class="btn btn-primary" type="button" id="custom_button" href="{% url 'register' %}">Register</a>
            &nbsp; &nbsp; &nbsp;
            <a class="btn btn-primary" type="button" id="custom_button" href="{% url 'my-login' %}">Login</a>
            &nbsp; &nbsp; &nbsp;
        </ul>
    </div>
</nav>

<body>

    <div class="text-center" style="margin-top:20px">

        <h3> A new day, a new task ...</h3>
        <br><br>
        <a class="btn btn-primary" type="button" id="custom_button" href="{% url 'addtask' %}">Add a task</a>
        <br><br>
        <a class="btn btn-primary" type="button" id="custom_button" href="{% url 'dashboard' %}">Dashboard</a>
    </div>
    </table>


</body>



<br>

<script src="{% static 'js/app.js' %}"></script>


<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>



<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">

    </script>



</html>